<head>
  <meta http-equiv="refresh" content="30">
</head>

<div class="row mt-3">
    <div class="col-md-2">
        <h3 class="ml-2">CP後台管理</h3>
        <ul class="list-group">
            <li class="list-group-item m-0"><a href="/admin/cp_list">充電樁列表</a></li>
            <li class="list-group-item m-0"><a href="/admin/add_cp">新增充電樁</a></li>
            <li class="list-group-item m-0"><a href="/admin/ocpp_log_list">OCPP logs</a></li>

        </ul>
    </div>
    <div class="col-md-10">
        {{> message}}

            <h5><span style="background-color: aqua;">充電樁列表</span></h5>



        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col" class="text-center">槍編號(cpid)</th>
                <th scope="col" class="text-center">connector</th>
                <th scope="col" class="text-center">樁編號(cpsn)</th>
                <th scope="col" class="text-center">狀態(Status)</th>
                <th scope="col" class="text-center">已充度數(data1)</th>
                <th scope="col" class="text-center">電流(data2)</th>
                <th scope="col" class="text-center">電壓(data3)</th>
                <th scope="col" class="text-center">功率(data4)</th>
                <th scope="col" class="text-center">保留(data5)</th>
                <th scope="col" class="text-center">回合碼(data6)</th>
                  <th scope="col" class="text-center">充電開始</th>
                    <th scope="col" class="text-center">充電結束</th>
                      <th scope="col" class="text-center">充電時程</th>
                      <th scope="col" class="text-center">memo6</th>

                <th scope="col" class="text-center">描述</th>
                <th scope="col" class="text-center">最後更新</th>
                <th scope="col" class="text-center">充電操作</th>
                <th scope="col" class="text-center">資料修改</th>

            </tr>
            </thead>
            <tbody>

            {{#each cp_list}}
                <tr style="height: 80px">
                    <td class="text-center align-middle">{{this.cpid}}</td>
                    <td class="text-center align-middle">{{this.connector}}</td>
                    <td class="text-center align-middle">{{this.cpsn}}</td>
                    <td class="text-center align-middle">{{this.guns_status}}</td>
                    <td class="text-center align-middle">{{this.guns_metervalue1}}</td>
                    <td class="text-center align-middle">{{this.guns_metervalue2}}</td>
                    <td class="text-center align-middle">{{this.guns_metervalue3}}</td>
                    <td class="text-center align-middle">{{this.guns_metervalue4}}</td>
                    <td class="text-center align-middle">{{this.guns_metervalue5}}</td>
                    <td class="text-center align-middle">{{this.guns_metervalue6}}</td>
                       <td class="text-center align-middle">{{this.guns_memo3}}</td>
                       <td class="text-center align-middle">{{this.guns_memo4}}</td>
                       <td class="text-center align-middle">{{this.guns_memo5}}</td>
                       <td class="text-center align-middle">{{this.guns_memo6}}</td>

                    <td class="text-center align-middle">{{this.guns_memo1}}</td>
                    <td class="text-center align-middle">{{this.guns_memo2}}</td>
                    <td class="text-center align-middle">
                      <a href="/admin/start_charging/{{this.cpid}}" class="btn btn-success">啟動</a>
                      <a href="/admin/stop_charging/{{this.cpid}}" class="btn btn-danger">停止</a>
                    </td>

                    <td class="text-center align-middle">
                        <a href="/admin/show_current_cp/{{this.id}}" class="btn btn-warning">編輯</a>
                        <form action="/admin/post_del_cp/{{this.id}}?_method=DELETE" method="POST" class="d-inline">
                            <button type="submit" class="btn btn-danger" onclick="return confirmDelete()">刪除</button>
                        </form>
                    </td>
                </tr>
            {{/each}}

            </tbody>
        </table>

    </div>
</div>
<script language="JavaScript">

/*
    console.log("hi")
    var client = mqtt.connect("ws://localhost:11883") // you add a ws:// url here
client.on('connect', ()=>{
  console.log('connected.');
  //location.reload()
  client.subscribe("/benson_csms_mqtt_all/")
  client.on("message", function (topic, payload) {
    console.log(payload);
    console.log([topic, payload].join(": "));
    // client.end()
  });
})
*/
</script>
